.d{
    font-size: 35px;
    background-color: rgb(252, 84, 84);
}
.f{
    font-size: 35px;
    background-color: rgb(121, 119, 255);
}
.g{
    font-size: 35px;
    background-color: rgb(119, 255, 121);
}
.h{
    font-size: 35px;
    background-color: rgb(174, 174, 174);
}
.as{
    border: 1px solid black;
    color:black;
}